/*
Light grey #999999
Granite grey #5F5C64
Dark grey #333333
Dirty pink #EAC9C1
Whity pink #FFF2F2
Main pink #FFDBDA
Off white #FFFFFC

Wrong red #F2B5B3
Right green #D0EFD0

Written wrong red #F27D79
Written wrong green #83D383

(the wrong red and right green are too light to be seen in writing, hence the alternatives - 
consider using the alternatives everywhere instead though...)
*/

html{
  margin:0;
  padding:0;
}
body {
  /*background: linear-gradient(90deg, #FFF 50%, #FFC0CB 50%);*/
  margin:-5px 0px 0px 0px;
  padding:0;
  border-left:10px solid #F2B5B3;
  border-right:10px solid #D0EFD0;
  font-size:1.5em;
  background-color:#FFFFFC;
  color:#5F5C64;
  font-family: 'Raleway', sans-serif;
}
#topstrap {
  background-color:#FFFFFC;
  margin:0px 10px 10px 10px;
  z-index:10000000000000;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Nixie One', cursive;
  font-weight:bold;
}
hr {
  border-color:#EAC9C1;
}
p {
  text-align:justify;
}
select:hover {
  cursor:pointer;
}
@media (min-width: 1500px) {
  .container {
    width:100%;
    max-width: 1500px;
  }
}
.btn-pink {
  background-color:#FFDBDA;
  border:1px solid #EAC9C1;
  color:#5F5C64;
}
.btn-pink:hover {
  background-color:#FFDBDA;
  border:1px solid #999999;
}
.btn-grey {
  background-color:#999999;
  border:1px solid #888888;
  color:#FFFFFC;
}
.btn-grey:hover {
  background-color:#AAAAAA;
  color:#FFFFFC;
}
.btn-negative {
  background-color:#F2B5B3;
  color:#5F5C64;
  border:1px solid #CCCCCC;
}
.btn-positive {
  background-color:#D0EFD0;
  color:#5F5C64;
  border:1px solid #CCCCCC;
}
