<head>
  <meta charset="utf-8">
  <title>Leviathan</title>
  <meta name="description" content="">
  <meta name="author" content="Leviathan">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <link href="/static/favicon.ico" rel="icon" type="image/x-icon">

  <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <script type="text/javascript" src="//static.cottagelabs.com/jquery-1.10.2.min.js"></script>
  <script type="text/javascript" src="//static.cottagelabs.com/bootstrap-3.0.3/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="//static.cottagelabs.com/bootstrap-3.0.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <script type="text/javascript" src="//static.cottagelabs.com/snap.min.js"></script>
  <script type="text/javascript" src="//static.cottagelabs.com/moment.min.js"></script>
  <script type="text/javascript" src="//static.cottagelabs.com/holdernew/jquery.holder.js"></script>
  <script type="text/javascript" src="//static.cottagelabs.com/fingerprint2.min.js"></script>
  <script type="text/javascript" src="//static.cottagelabs.com/clogin.js"></script>

  <script type="text/javascript" src="//static.cottagelabs.com/jquery.antiquify.js"></script>
  <script type="text/javascript" src="//static.cottagelabs.com/jquery.slabtext.min.js"></script>

  <link href='//fonts.googleapis.com/css?family=Raleway:500' rel='stylesheet' type='text/css'>
  <link href='//fonts.googleapis.com/css?family=Nixie+One' rel='stylesheet' type='text/css'>

  <script type="text/javascript" src="/static/ui.js"></script>
  <link href="/static/leviathan.css" rel='stylesheet' type='text/css'>

</head>






